@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url(./header.css);
@import url(./responsive.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

:root {
    font-size: 62.5%;
    --title-font-family: 'Bebas Neue';
    --title-section-height: 47.5rem;
    --mobile-title-section-height: 55rem;

    --text-font-family: 'Roboto';

    --img-section-height: 60rem;

    --white: #FFFFFF;
    --gray: #A8A8A8;
    --dark-gray: #1f1f1f;
    --black: #000000;
    --purple: #804BCF;
    --mid-purple: #37285D;
    --dark-purple: #221D35;
    --orange: #FF9500;
    --green: #48F2C2;
    --text-color-gradient: linear-gradient(to right, var(--purple),var(--green));
    --login-bg: linear-gradient(135deg, #804BCF, #351B9A);
    --input-bg: #181818;

    --dash-bg: #080813; 

    --fixed-white: #FFFFFF;
    --fixed-black: #000000;

    --purple-hover: #6433a3;
}

.purple { color: var(--purple); }
.orange { color: var(--orange); }
.white { color: var(--white); }

/* Não pergunte o pq do grid apenas aceite */
body {
    background: var(--black);
    color: var(--white);
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);
}

/* Sections */
section.title {
    backdrop-filter: brightness(20%);
    padding-top: 3rem;
    border-radius: 0 0 1rem 1rem;
    background-color: rgba(0, 0, 0, 0.25);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;

    h1 {
        color: var(--fixed-white);
        margin-right: 3rem;
    }
}

main .img-div {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: var(--img-section-height);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    h2 {
        color: var(--fixed-white);
        font-family: var(--title-font-family);
        font-size: 4.8rem;
        font-weight: 500;
        text-transform: uppercase;
    }
}

.gradient-text {
    font-family: var(--title-font-family);
    background-image: var(--text-color-gradient);

    -webkit-background-clip: text;
    background-clip: text;
    
    -webkit-text-fill-color: transparent;
    color: transparent;
    
    display: inline-block;
}

.active-page {
    color: var(--purple);
}

button:hover {
    transition: .1s;
}

.hidden {
    display: none !important;
}